.nav-list a{
    color: black !important;
    margin-right: 7px !important;
    padding-left: 9px !important;
    font-size :20px !important; ;
    font-family: arial ;
 
}

.nav-list a:hover{
    background-color: teal;
}
.dream-riders{
    color: black !important;
    font-family: arial black;
    font-size: 25px !important;
}
